branches:
  only:
    - master
    
install:
  - set QTDIR=C:\Qt\5.13\mingw73_32
  - set QT_TOOLS_DIR=C:\Qt\Tools\mingw730_32\ 
  - set PATH=%QTDIR%\bin;C:\Qt\Tools\mingw730_32\bin;%PATH%
  - qmake -v
  - dir C:\Qt\
  - dir C:\Qt\5.13\
  - dir %QTDIR%
  - dir %QTDIR%\bin
  - dir %QTDIR%\lib
  - dir C:\Qt\Tools\
  - dir C:\Qt\Tools\QtCreator
  - dir C:\Qt\Tools\QtCreator\bin
  - dir %QT_TOOLS_DIR%\  
  - dir %QT_TOOLS_DIR%\bin
  - dir %QT_TOOLS_DIR%\lib
  - dir C:\OpenSSL-Win32\bin
  - dir C:\OpenSSL-Win32\lib
  
build_script:
  - qmake StocksMonitor.pro
  - mingw32-make
  
after_build:
  - windeployqt bin/StocksMonitor.exe
  - curl https://bintray.com/vszakats/generic/download_file?file_path=openssl-1.1.1c-win32-mingw.zip -o ssl.zip -LO
  - 7z e ssl.zip
  - dir
  - cp -r ./script ./bin/script
  - cp LICENSE ./bin/
  - cp *.dll bin/
  - cp -r bin StocksMonitor
  
test_script:
  - qmake StocksMonitor.pro
  - mingw32-make check

#Note: artifacts path should be from root directory
artifacts:
  - path: StocksMonitor
    type: zip

deploy: 
  release: StocksMonitor-$(APPVEYOR_REPO_TAG_NAME)
  tag: $(APPVEYOR_REPO_TAG_NAME)
  description: 'Release description'
  provider: GitHub
  auth_token: # your encrypted token from GitHub
    secure: 5c6ifu7R/0JzCAHg9PIxYsWvkc93jD6LZeAUmVoE8TxSMb8953FlsdJwNTzM30XN
  artifact: StocksMonitor.zip 
  force_update: true
  draft: false
  prerelease: false
  on:
    APPVEYOR_REPO_TAG: true
