branches:
  only:
    - master
    
install:
  - set QTDIR=C:\Qt\5.10.1\mingw53_32
  - set PATH=%QTDIR%\bin;C:\Qt\Tools\mingw530_32\bin;%PATH%;
  
build_script:
  - qmake StocksMonitor.pro
  - mingw32-make
  
after_build:
  - windeployqt src/StocksMonitor.exe
  - rm src/*.o
  - rm src/*.cpp

#Note: artifacts path should be from root directory
artifacts:
  - path: src
    type: zip
