language: cpp
dist: focal

compiler:
  - gcc
  - clang
  
install:
  - sudo apt-get update
  - sudo apt install qt5-default qtbase5-dev qtmultimedia5-dev
  - qmake -v

script:
  - cd ./src
  - qmake StocksMonitor.pro
  - make
