language: cpp

compiler:
  - gcc
  - clang
  
install:
  - sudo apt-get update
  - sudo apt install qt5-default qtbase5-dev qtdeclarative5-dev qtcreator

script:
  - cd ./src
  - qmake StocksMonitor.pro
  - make
