language: cpp
dist: focal

compiler:
  - gcc
  - clang
  
install:
  - sudo apt-get update
  - sudo apt install qt5-default qtbase5-dev qtmultimedia5-dev
  - sudo pip install cpp-coveralls
  - qmake -v

script:
  - cd ./src
  - qmake StocksMonitor.pro
  - make
  - make clean
  - make check
  
 after_success:
  - coveralls -e Tests -E ".moc_*.cpp" -E ".*.moc*" -E ".rcc*" --gcov-options '\-lp'
